/* Tags */

html {
	background-color: #aaa;
	height: 100%;
}

* {
	box-sizing: border-box;
	cursor: default;
	font-family: 'Encode Sans Condensed', sans-serif;
}

h3 {
	font-size: 50px;
	margin: auto;
}

h4 {
	font-size: 25px;
	margin: auto;
}

h5 {
	font-size: 22px;
	margin: 20px auto;
}

p {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 18px;
	text-align: justify;
	text-justify: inter-word;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
}

a {
	cursor: pointer;
	color: deepskyblue;
	text-decoration: none;
	transition: .2s;
}

a:hover {
	color: blue;
}

/* CARDS */

.projects_box_pt {
	top: 30%;
	left: 0;
	right: 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	margin: auto;
	position: absolute;
	width: 100%;
}

.card_scene {
	color: black;
	cursor: pointer;
	height: 300px;
	perspective: 1000px;
	width: 20%;
	min-width: 300px;
}

.card_scene * {
	cursor: default;
}

.card {
	height: 100%;
	position: relative;
	transition: .8s;
	transform-style: preserve-3d;
	transform-origin: center right;
	width: 100%;
}

.card span {
	margin-top: auto;
	margin-bottom: 5px;
	color: darkblue;
	cursor: pointer;
}

.card a {
	font-weight: 600;
	color: rgb(50,50,250);
	cursor: pointer
}

.card a:hover {
	color: rgb(0,0,50);
}

.card p {
	font-size: 14px;
}

.p_front {
	height: 60%;
}

.p_back {
	height: 80%;
}

.card.is-flipped {	
	transform: translateX(-100%) rotateY(-180deg);
}

.card_face {
	background-color: #ddd;
	background-color: rgba(221,221,221,.5);
	border-radius: 10px;
	backface-visibility: hidden;
	box-shadow: 2px 5px 10px 0 black;
	height: 100%;
	padding: 10px;
	position: absolute;
	text-align: center;
	width: 100%;
}

.card_front {
	border: 3px solid white;
}

.card_scene:hover .card_front{
	border-color: #bbb;
	transition: 0s;
}

.card_back {
	border: 3px solid #444;
	transform: rotateY(180deg);
}

.card_scene:hover .card_back{
	border-color: black;
	transition: 0s;
}

/* Menu */

.phone_menu_bt {
	display: none;
}

.mn_opt_lang {
	margin: auto 0 auto auto;
}

.menu_opt {
	color: white;
	display: flex;
	flex-flow: column nowrap;
	height: 60px;
	justify-content: center;
	text-align: center;
	transition: 0;
	width: 100px;
}

.mn_opt_lang_smart {
	display: none;
}

.menu_opt:hover {
	background-color: white;
	color: black;
	cursor: pointer;
	font-size: 22px;
	transition: .2s;
}

.menu_opt:active {
	color: deepskyblue;
	transition: .2s;
}

.menu_container {
	top: 0;
	margin: 0 auto auto;
	background-color: black;
	font-family: 'Oswald', sans-serif;
	position: fixed;
	width: 100%;
	z-index: 1;
}

.menu_links {
	display: flex;
	flex-flow: row nowrap;
	font-size: 20px;
	margin: auto 20px;
}

.menu_fix {
	background-color: transparent;
	height: 30px;
	transition: .4s;
}

.menu_fix .menu_opt {
	background-color: black;
	background-color: rgba(0,0,0,.4);
	height: 30px;
	transition: .4s;
}

.menu_fix:hover {
	background-color: black;
	height: 60px;
}

.menu_fix:hover .menu_opt {
	height: 60px;
}

.menu_fix:hover .menu_opt:hover {
	background-color: white;
}

section {
	color: white;
	height: 100vh;
	position: relative;
	margin: auto;
	width: 100%;
}

/* Classes */

.black_divisor {
	background-color: black;
	opacity: .8;
	height: 40px;
	width: 100%;
}

.page {
	margin-top: 60px;
}

.list_01 {
	list-style: none;
	padding: 0;
}

.knowledges {
	list-style: none;
	margin-top: 5px;
}

.lang_menu {
	background-color: black;
	background-color: rgba(0,0,0,.9);
	border: 2px solid white;
	border-radius: 10px;
	display: none;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	position: fixed;
	width: 300px;
	height: 200px;
	z-index: 1;
}

.lang_title {
	color: white;
	font-size: 22px;
	margin: 20px auto 0;
	text-align: center;
}

.lang_content {
	display: flex;
	flex-flow: column nowrap;
	height: 150px;
	justify-content: center;
	margin: auto;
	text-align: center;
}

.lang_opt {
	display: flex;
	flex-flow: column nowrap;
	font-size: 16px;
	justify-content: center;
	color: white;
	cursor: pointer;
	height: 50px;
	margin: 0 auto;
	transition: .2s;
	width: 100%;
}

.lang_opt:hover {
	background-color: white;
	color: black;
	font-size: 20px;
}

.lang_opt:active {
	font-size: 18px;
}

.close {
	cursor: pointer;
	color: red;
	height: 15px;
	margin: 3px 2px 0 auto;
	width: 15px;
}

.headings {
	top: 10%;
	left: 10%;
	margin: auto;
	margin-bottom: 5px;
	position: absolute;
}

/* Backgrounds */

.cb {
	background-color: lightblue;
	padding: 15px;
	height: 100vh;
	width: 100vw;
}

.page_01 {
	background-color: #343a79;
}

.page_02 {
	background-color: #4c59ae;
}

.page_03 {
	background-color: #466ea0;
}

.page_04 {
	background-color: #7295c1;
}

/* Main Page (page 1)*/

.main_title {
	font-size: 50px;
	left: 0;
	position: absolute;
	text-align: center;
	top: 30%;
	width: 100%;
}

.main_subtitle {
	font-size: 25px;
	left: 0;
	position: absolute;
	text-align: center;
	top: 45%;
	width: 100%;
}

/* About Page (page 2)*/

.section_title {
	font-size: 50px;
	margin: auto;
}

.section_subtitle {
	font-size: 25px;
	margin: auto;
}

.sobre_content {
	top: 30%;
	left: 0;
	right: 0;
	font-size: 18px;
	margin: auto;
	position: absolute;
	text-align: center;
	width: 50%;
}

/* Contato */

.media_container_pt {
	top: 30%;
	height: 55%;
	margin: auto;
	position: absolute;
	width: 100%;
}

.media_container_en {
	display: none;
	top: 30%;
	height: 55%;
	margin: auto;
	position: absolute;
	width: 100%;
}

.media_box {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	border: 2px solid white;
	border-radius: 15px;
	font-size: 20px;
	height: 80%;
	margin: auto;
	width: 40%;
}

.media_it {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	margin: 0 auto;
	width: 35%;
}

.media_name {
	width: 30%;
	min-width: 75px;
}

.media_content {
	text-align: right;
	color: black;
	font-weight: 600;
	width: 70%;
	min-width: 185px;
}

.media_it_margin {
	color: white;
	font-weight: 600;
	margin: 25px auto 15px;
}

.social_medias {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	width: 100%;
}

.icon {
	cursor: pointer;
	background-color: white;
	background-repeat: norepeat;
	background-size: cover;
	height: 24px;
	margin: auto 5px;
	width: 24px;
}

.f-icon {
	background-image: url('../img/facebook.png');
}

.i-icon {
	background-image: url('../img/instagram.png');
}

.l-icon {
	background-image: url('../img/linkedin.png');
}

/* outros */

.hide {
	display: none;
}

.smart_leg {
	display: none;
}

@media screen and (max-width: 1000px) {

	section {
		position: static;
		margin: 0 auto;
		height: 100vh;
		width: 100%;
	}
	
	.cb {
		position: static;
		width: 100vw;
	}

	.page {
		margin-top: 30px;
	}
	
	.menu_opt {
		font-size: 16px;
		height: 30px;
		width: 25%;
	}
	
	.menu_opt:hover {
		font-size: 16px;
		transition: 0s;
	}
	
	.menu_fix .menu_opt {
		background-color: black;
	}
	
	.menu_fix:hover {
		background-color: black;
		height: 30px;
	}
	
	.menu_fix:hover .menu_opt {
		height: 30px;
	}
	
	.menu_links {
		margin: auto;
	}
	
	.mn_opt_lang {
		display: none;
	}
	
	.mn_opt_lang_smart {
		background-color: black;
		border-radius: 50%;
		bottom: 0;
		color: white;
		display: flex;
		font-size: 12px;
		flex-flow: column nowrap;
		height: 40px;
		justify-content: center;
		left: 0;
		margin: auto 15px 5px auto;
		text-align: center;
		position: fixed;
		padding: 0;
		right: 0;
		top: 0;
		width: 40px;	
	}
	
	.mn_opt_lang_smart:hover, .mn_opt_lang_smart:hover {
		background-color: white;
		color: black;
	}

	p {
		font-size: 15px;
	}
	
	.headings {
		margin: 0 auto 10px;
		position: static;
		text-align: center;
		width: 80%;
	}

	.section_title {
		font-size: 40px;
	}

	.section_subtitle {
		font-size: 20px;
	}
	
	.sobre_content {
		position: static;
		width: 80vw;
	}

	.media_container_pt {
		margin: 80px auto;
		position: static;
	}

	.media_container_en {
		margin: 80px auto;
		position: static;
	}

	.media_box {
		width: 90%;
	}

	.media_it {
		flex-flow: column nowrap;
		text-align: center;
		margin: 0 auto;
		width: 80%;
	}

	.media_name {
		text-align: center;
		margin: 0 auto;
		width: 100%;
	}

	.media_content {
		text-align: center;
		margin: 0 auto;
		width: 100%;
	}

	.media_it_margin {
		color: white;
		font-weight: 600;
		margin: 25px auto 15px;
	}
	
	.phone_hide {
		display: none;
	}

	.projects_box_pt {
		flex-flow: column nowrap;
		justify-content: start;
		position: static;
		width: 90%;
	}
	
	.card_scene {
		height: 80px;
		margin: 20px auto;
		transition: .5s;
		width: 100%;
	}
	
	.card {
		height: 100%;
		position: relative;
	}
	
	.card p {
		font-size: 16px;
	}
	
	.card h5 {
		font-size: 18px;
		margin: 5px auto;
	}
	
	.p_front {
		display: none;
		height: 60%;
	}

	.p_back {
		display: none;
		height: 85%;
	}
	
	.card_face {
		background-color: #ddd;
		background-color: rgba(221,221,221,.5);
		border-radius: 10px;
		backface-visibility: hidden;
		box-shadow: 2px 5px 10px 0 black;
		height: 100%;
		padding: 10px;
		position: absolute;
		text-align: center;
		width: 100%;
	}
	
	.card_scene.is-flipped {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		
		margin: auto;
		
		height: 60vh;
		width: 80vw;
		z-index: 2;
	}
	
	.card_scene.is-flipped .p_back {
		display: block;
	}
	
	.card_scene.is-flipped .card .card_face {
		background-color: #ddd;
		background-color: rgba(221,221,221,1);
	}
	
	.card.is-flipped {
		margin: auto;
		height: 100%;
		width: 100%;
	}

	.smart_leg {
		display: block;
	}
	
}
