/* Tags */

html {
	background-color: #aaa;
	height: 100%;
}

* {
	box-sizing: border-box;
	cursor: default;
	font-family: 'Encode Sans Condensed', sans-serif;
}

p {
	font-family: 'Roboto Condensed', sans-serif;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
}

a.menu_opt {
	color: white;
	text-decoration: none;
	transition: 0;
}

a.menu_opt:hover {
	color: black;
	font-size: 22px;
	transition: .4s;
}

a.menu_opt:active {
	color: deepskyblue;
	transition: .2s;
}

div.menu_opt {
	display: flex;
	flex-flow: column nowrap;
	height: 60px;
	justify-content: center;
	padding: 5px 20px 5px 20px;
	text-align: center;
	width: 100px;
}

div.menu_opt:hover {
	background-color: white;
	cursor: pointer;
}

section {
	margin: 0 auto;
	height: 100vh;
	width: 80%;
}

/* Backgrounds */

.cb {
	background-color: lightblue;
	padding: 15px;
	height: 100vh;
	width: 100%;
}

.page_01 {
	background-color: #62589d;
}

.page_02 {
	background-color: #4c59ae;
}

/* Main Page (page 1)*/

.main_section {
	color: white;
	height: 100%;
	position: relative;
	margin: auto;
	width: 100%;
}

.main_title {
	font-size: 50px;
	left: 0;
	position: absolute;
	text-align: center;
	top: 30%;
	width: 100%;
}

.main_subtitle {
	font-size: 25px;
	left: 0;
	position: absolute;
	text-align: center;
	top: 45%;
	width: 100%;
}

/* Classes */

.page {
	margin-top: 60px;
}

.menu_container {
	top: 0;
	margin: 0 auto auto;
	background-color: black;
	font-family: 'Oswald', sans-serif;
	position: fixed;
	width: 100%;
	z-index: 1;
}

.menu_fix {
	height: 30px;
	transition: .4s;
}

.menu_fix a div.menu_opt {
	height: 30px;
	transition: .4s;
}

.menu_fix:hover {
	height: 60px;
}

.menu_fix:hover a div.menu_opt {
	height: 60px;
}

.section_title {
	border-bottom: 1px solid black;
	cursor: default;
	font-size: 30px;
	height: 38px;
	margin: auto;
	padding: 0 0 5px 5px;
	width: 100%;
}

.section_title:hover {
	font-size: 32px;
	transition: .4s;
}

.section_subtitle {
	font-size: 20px;
	margin: 0;
	padding: 0 0 0 5px;
}

.menu_links {
	display: flex;
	flex-flow: row nowrap;
	font-size: 20px;
	margin: auto 20px;
}

.headings {
	text-align: center;
}

.list_01 {
	list-style: none;
	padding: 0;
}

.knowledges {
	list-style: none;
	margin-top: 5px;
}

.hide {
	display: none;
}

@media screen and (min-width: 1500px) {
	body {
		margin: 0 auto;
		width: 70%;
	}
}
